.App {
    margin: auto;
    width: 500px;
    border: 1px solid transparent;
    background-color: #5c6bc0;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.toggle {
    width: 60px;
    height: 20px;
    margin: auto;
    padding: 0;
    overflow: visible;
    background: #efeeff;
    cursor: pointer;
    border: 1px dotted #000;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}
