/*
p {
    background-color: peru;
    width: 300px;
    text-align: center;
    border: 1px solid #000;
}
*/
.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    background-color: #f0efef;
}
